.signup-container {
    height: calc(100vh - 225.696px);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 78%;
    z-index: 1000;
    margin: auto;
}

.overlay-donut {
    position: absolute;
    top: 0;
    right: 20;
    z-index: -1;
    height: 80%;
    opacity: 0.5;
}
  
.welcome-container {
    width: 30%;
    min-width: 283.1px;
}
  
.span-sign-in {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    color: #717171;
}
      
.h1-sign-in {
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-size: 4rem;
    line-height: 1.1;
    margin-top: 0;
}
  
.hr-sign-in {
    display: block;
    background: #00a4aa;
    height: 0.25rem;
    width: 6.25rem;
    border: none;
    margin: 1.125rem 0 1.875rem 0;
}
   
.p-sign-in {
    line-height: 1.6;
    font: 200 normal 1rem "Libre Baskerville", serif;
    opacity: 90%;
    font-size: 20x;
}

.signup-form-container {
    width: 50%;    
    background-color: rgba(255, 255, 255, 0.4);
    padding: 50px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Due colonne di dimensioni uguali */
    gap: 10px; /* Spazio tra le colonne */
}


.form-label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
}

.marketing-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.last-input {
    height: 40px;            
}
.form-input {
    width: 100%;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #00a4aa;
    outline: none;
}
  
.form-button {
    width: 100%;
    padding: 14px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    grid-column: span 2;
}
  
.form-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
  