/* Definizione delle variabili CSS */
:root {
    --text-color: rgba(51, 51, 51, 0.9);
}
  

.recipe {
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin: auto;
}

.title {
    margin-bottom: 6vh;
}

.title-hr {
    display: block;
    background: #00a4aa;
    height:  0.25rem;
    width: 6.25rem;
    border: none;
    margin: 0.125rem 0 0.875rem 0;
}

.video-section {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Rapporto d'aspetto 16:9 */
    overflow: hidden;
    min-width: 470px;
    min-height: 250px;
}
  
.video-section iframe {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;
}

.ingredients_and_details {
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: rgb(232, 232, 232);
}

.ingredients_section {
    min-height: 30vh;
}

@media screen and (max-width: 1100px) {
    .ingredients_and_details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details {
        width: 100%!important;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

.ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tre colonne di uguale larghezza */
    gap: 1rem; /* Spazio tra gli elementi della griglia */
    margin-bottom: 3%;
    color: var(--text-color);
}

.ingredients-li p {
    color: var(--text-color);
}

@media screen and (max-width: 850px) {
    .ingredients {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .ingredients {
        grid-template-columns: 1fr;
    }
}

.recipe_h1 {
    margin-bottom: 2%;
    background-color: #00a4aa;
    background-image: linear-gradient(45deg, #00a4aa, #00073b);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centra il testo orizzontalmente */
    width: 40%;
    background-color: cornflowerblue;
}

.instructions-section {
    margin-top: 10vh;
}

.instructions {
    text-align: justify;
}

.miniature-rec {
    float: left;
    margin-right: 2%;
}

.instructions-p {
    margin-bottom: 1%;
    color: var(--text-color);
}

@media screen and (max-width: 800px) {
    .instructions-section {
        display: flex;
        flex-direction: column;
    }
    
    .miniature-rec {
        margin-bottom: 2vh;
    }
    
}

