.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
    font-family: "Libre Baskerville", serif;
    font-weight: 200;
    font-style: normal;
}

.section img {
    max-width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.text-container h2 {
    color: #355b5d;
}

.text-container {
    text-align: left;
}

.text-container > * {
    margin-bottom: 2rem; /* Aggiungi uno spazio di 1rem tra gli elementi */
}
  
.text-container > *:last-child {
    margin-bottom: 0; /* Rimuovi lo spazio dopo l'ultimo elemento */
}


.text-container {
    margin-left: 20px;
}

@media screen and (max-width: 1100px) {
    .section img {
        max-width: 165px;
    }
    .text-container > * {
        margin-bottom: 1rem; /* Aggiungi uno spazio di 1rem tra gli elementi */
    }
}

/* font-size: clamp dimensione minima, dimensione preferita, dimensione massima */
.text-container p {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    letter-spacing: -1px;
    opacity: 70%;
}

.span-link {
    color: #00a4aa;
    font-weight: 650;
}

.span-link:hover {
    color: black;
}
  
.recipe-button:hover {
    background-color: #e0e0e0;
}


