.donut {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 80%;
  opacity: 0.3;
  max-height: 367px;
}

.welcome-container {
  width: 30%;
  min-width: 283.1px;
}

.h1-sign-in {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-size: 4rem;
  line-height: 1.1;
  margin-top: 0;
}
  
.p-sign-in {
  line-height: 1.6;
  font: 200 normal 1rem "Libre Baskerville", serif;
  opacity: 90%;
  font-size: 1.25rem;
  color: var(--text-primary-color);
}

